.formcont {
    width: 78vw;
    margin: 15px;
    border-style: solid;
    border-color: #ff9e5c;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #ff9e5c;
}

.contfor1y2 {
    display: flex;
}

.formuno,
.formdos {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.formuno label,
.formdos label {
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

.formuno input {
    margin-bottom: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.formdos input{
    border: 1px solid #ccc;
	border-radius: 5px;
}

.subcategoriesLabel{
    text-align: left;
    margin-top: 15px;
}
.subcategories{
    margin-top: auto;
}
.subcategories:hover{
    cursor: pointer;
}
.subcategories::-webkit-scrollbar {
    color: #ccc;
    width: 8px;
  }

.subcategories::-webkit-scrollbar-track {
background-color: transparent; /* Color del fondo de la barra de desplazamiento */
}

.subcategories::-webkit-scrollbar-thumb {
border-radius: 4px; /* Radio de borde de la barra de desplazamiento */
}

.subcategories::-webkit-scrollbar-thumb:hover {
background-color: #aaa; /* Color del relleno de la barra de desplazamiento en estado hover */
}

.subcategories::-webkit-scrollbar-thumb:active {
background-color: #ccc; /* Color del relleno de la barra de desplazamiento en estado activo */
}

.subcategories::-webkit-scrollbar-corner {
background-color: #ccc; /* Color de la esquina de la barra de desplazamiento */
}

.subirImg{
    margin-top: 15px;
    text-align: left;
}

.oneLine{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.createBtn{
    width: 15%;
    margin: auto;
    border: solid 1px transparent;
    border-radius: 5px;    
    margin-bottom: 15px;
}
.createBtn:disabled{
}
.createBtn:enabled:hover{
    cursor: pointer;
    background-color: transparent;
    border: solid 1px white;
    color: white;
}