.container {
    background-color: white;
    position: fixed;
    margin: 0;
    top: 0;
    margin-left: 16rem;
    width: 80vw;
    height: 100vh;
}

.filandor {
    color: #ff9e5c;
    border-radius: 5px;
    padding-top: 15px;
    border: #ff9e5c solid 1px;
    margin: 15px 270px;
}

.dataCont{
    height: 75vh;
    margin: auto 270px; 
    border-radius: 5px;
    overflow: auto;
}
.dataCont::-webkit-scrollbar {
    width: 15px;
}

.dataCont::-webkit-scrollbar-track {
background-color: #eee; /* Color del fondo de la barra de desplazamiento */
}

.dataCont::-webkit-scrollbar-thumb {
background-color: #ccc; /* Color del relleno de la barra de desplazamiento */
border-radius: 4px; /* Radio de borde de la barra de desplazamiento */
}

.dataCont::-webkit-scrollbar-thumb:hover {
background-color: #aaa; /* Color del relleno de la barra de desplazamiento en estado hover */
}

.dataCont::-webkit-scrollbar-thumb:active {
background-color: #aaa; /* Color del relleno de la barra de desplazamiento en estado activo */
}

.dataCont::-webkit-scrollbar-corner {
background-color: white; /* Color de la esquina de la barra de desplazamiento */
}

.data{
    background-color: #ff9e5c;
    margin-bottom: -16px;
    text-align: left;
    padding: 15px;
    color: white;
}

.data p{
    font-weight: 500;
}