:root {
    --bgsidebar: #FF9E5C;
    --fontbtn: #000000;
}

.container {
    position: fixed;
    width: 15rem;
    height: 100%;
    top: 0;
    background-color:var(--bgsidebar) ;
    color: var(--fontbtn);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 70px;
    border: #000000 solid 2px;
    background-color: rgba(3, 3, 3, 0.384);
    background-image: url("./../../../assets/diego\ 1.png");
    background-size: cover;
    background-position: center;
}

.namecont p {

    margin: 0 0 0 10px;
}

.rutscont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rutsul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.rutsul li {
    margin: 0 0 0 10%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2em;

}
.btnNav{
    text-decoration: none;
    color: var(--fontbtn);
    display: flex;
    align-items: center;
}

.divli {
    display: flex;
    align-items: center;
    gap: .5em;
}

.rutsul li:nth-child(3) {
    margin: 0 0 0 15%;
    gap: 0;

}

.homecont {

    font-size: 40px;
}