.postcont {
    background-color: #ff9e5c;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.filandor {
    color: white;
    display: flex;
    border-radius: 5px;
    padding-top: 15px;
}

.filters {
    margin-right: 30px;
}

.filandor p {
    margin-right: auto;
    padding-left: 10px;
}

.list {
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow: auto;
    padding: 0;
    border-radius: 5px;
}

.list::-webkit-scrollbar {
    height: 8px;
    /* Ancho de la barra de desplazamiento */
    width: 8px;
}

.list::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color del fondo de la barra de desplazamiento */
}

.list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Color del relleno de la barra de desplazamiento */
    border-radius: 4px;
    /* Radio de borde de la barra de desplazamiento */
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    /* Color del relleno de la barra de desplazamiento en estado hover */
}

.list::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
    /* Color del relleno de la barra de desplazamiento en estado activo */
}

.list::-webkit-scrollbar-corner {
    background-color: transparent;
    /* Color de la esquina de la barra de desplazamiento */
}

.li {
    display: flex;
    border: #000000 solid 2px;
    width: fit-content;
    padding-right: 5px;
    border-bottom: transparent;
}

.li:first-child {
    background-color: #ffdbc3;
   
}

.li:last-child {
    border-bottom: #000000 solid 4px;
}

/* id */
.liid {
    min-width: 250px;
    max-width: 250px;
    display: flex;
    height: 40px;
    width: 80vw;
    padding-left: 10px;
    text-align: center;
    align-items: center;
    margin: 0px 15px;
}

/* titulo */
.liname {
    min-width: 250px;
    display: flex;
    justify-content: left;
    border-right: 2px solid #000000;
    text-align: center;
    padding: 0 5px;
    align-items: center;
    margin: 0px 15px;
}

/* marca */
.limarc {

    min-width: 120px;
    max-width: 120px;
    text-align: center;
    display: flex;
    justify-content: left;
    border-right: 2px solid #000000;
    align-items: center;
    margin: 0px 15px;
}

/* precio */
.liprec {

    min-width: 120px;
    text-align: center;
    display: flex;
    justify-content: left;
    border-right: 2px solid #000000;
    align-items: center;
    margin: 0px 15px;
}

/* stock*/
.listo {
    min-width: 70px;
    text-align: center;
    display: flex;
    justify-content: left;
    border-right: 2px solid #000000;
    align-items: center;
    margin: 0px 15px;
}

/* subcategory*/
.licat {
    min-width: 150px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: 2px solid #000000;
    margin: 0px 15px;
}

/* rating*/
.lirat {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
    display: flex;
    justify-content: left;
    border-right: 2px solid #000000;
    align-items: center;
    margin: 0px 15px;
}

/* stado*/
.lista {
    min-width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-right: 2px solid #000000;
    align-items: center;
    margin: 0px 0px;
}

/* style3-getUsers */

.li2 {
    display: flex;
    border: #000000 solid 2px;
    border-bottom: transparent;
    height: fit-content;
    
}

.li2:first-child {
    background-color: #ffdbc3;

}

.li2:last-child {
    border-bottom: #000000 solid 2px;
}

.editar {
    width: 60px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: #000000 solid 2px;
}

.nombre {
    min-width: 270px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: #000000 solid 2px;
}
.nombre2 {
    min-width: 320px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: #000000 solid 2px;
}
.estado {
    min-width: 110px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: #000000 solid 2px;
}