.container{
    width: 24rem;
    height: 20rem;
    margin: 0 auto;
    padding: 2rem;
    border: 5px solid #ff9e5c;
    border-radius: 5px;
    color: black;
    background-color: white;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% - 10px);
}

.container label{
    font-size: 25px;
    margin: 4px;
}

.container input{
    font-size: 20px;
    text-align: left;
}

.container button{
    font-size: 25px;
    color: white;
    margin-top: 15px;
    background-color: #ff9e5c;
    border: 1px solid #ff9e5c;
    border-radius: 5px;
    margin-left: auto;
}
.container button:hover{
    color: #ff9e5c;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #ff9e5c;
    border-radius: 5px;
}

.container p{
    color: red;
    font-size: 12px;
}
