:root {
    --bgbtn: #00ffff;
    --borderbtn: #000000;
    --fontbtn: #000000;
}

.producontainer {
    background-color: rgb(245, 245, 134);
    margin: 0;
    top: 0;
    margin-left: 16rem;
    width: 80vw;
    height: 99vh;
}

.contbtn {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.contbtn button {
    background-color: var(--bgbtn);
    width: 150px;
    border-radius: 35px;
    border: 5px solid var(--borderbtn);
    cursor: pointer;
    color: var(--fontbtn);
    font-weight: 900;
}

.conttable {
    height: 75vh;
}