.postcont {
    background-color: #ff9e5c;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.filandor {
    color: white;
    display: flex;
    border-radius: 5px;
    padding-top: 15px;
}
.filandor p {
    margin-right: auto;
    padding-left: 10px;
}

.list {
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow: auto;
    padding: 0;
    border-radius: 5px;
}
.list::-webkit-scrollbar {
    height: 8px; /* Ancho de la barra de desplazamiento */
    width: 8px;
  }

.list::-webkit-scrollbar-track {
background-color: transparent; /* Color del fondo de la barra de desplazamiento */
}

.list::-webkit-scrollbar-thumb {
background-color: #ccc; /* Color del relleno de la barra de desplazamiento */
border-radius: 4px; /* Radio de borde de la barra de desplazamiento */
}

.list::-webkit-scrollbar-thumb:hover {
background-color: #aaa; /* Color del relleno de la barra de desplazamiento en estado hover */
}

.list::-webkit-scrollbar-thumb:active {
background-color: #aaa; /* Color del relleno de la barra de desplazamiento en estado activo */
}

.list::-webkit-scrollbar-corner {
background-color: transparent; /* Color de la esquina de la barra de desplazamiento */
}

.titlelist {
    display: flex;
    height: 40px;
    width: 80vw;
    padding-left: 10px;
}
.titlelist p{
    margin-top: auto;
    margin-bottom: auto;
}

.li{
    display: flex;
    border: #000000 solid 1px;
    width: fit-content;
    border-bottom: transparent;
    text-align: left;
}

.id{
    margin-left: 120px;
}

.nombre{
    margin-left: 260px;
}

.nick{
    margin-left: 210px;
}

.mail{
    margin-left: 190px;
}

.status{
    margin-left: 280px;
}

.linum{
    width: 50px;
    text-align: center;
    margin: 0px 15px;
    border-right: solid 1px #000000;
}

.liid {
    width: 250px;
    margin: 0px 15px;
    border-right: solid 1px #000000;
}

.liname {
    width: 250px;
    margin: 0px 15px;
    border-right: solid 1px #000000;
}

.linick{
    width: 250px;
    margin: 0px 15px;
    border-right: solid 1px #000000;
}

.liemail{
    width: 300px;
    margin: 0px 15px;
    border-right: solid 1px #000000;
}

.liactive{
    width: 100px;
    margin: 0px 15px;
}